-
  var phones = [
    {
      title: 'admin',
      phones: [
      '+38(068)333-22-10',
      '+38(099)750-22-10'
      ]
    },
    {
      title: 'donat',
      phones: [
        '+38(068)333-22-10'
      ]
    }
      
  ]
    
.phone-list
  each item in phones
    .phone-note
      .phone-note__title=item.title
      .phone-note__numbers
        each phone in item.phones
          div
            - varroboPhone = phone.replace(/[^\d]/g, '');
            a(href="tel:"+roboPhone)=phone