include mixins
-
  var menuItems =[
    {
      "title": "Мир Minecraft",
      "list": [
      {
        "title": "Блоки"
      },
      {
        "title": "мобі"
      },
      {
        "title": "структури"
      },
      {
        "title": "Биомбі"
      },
      {
        "title": "мирі"
      }
      ]
    },
    {
      "title": "Industrial craft"
    },
    {
      "title": "Optfine"
    },
    {
      "title": "Forge"
    },
    {
      "title": "tooManyItems"
    },
    {
      "title": "RailCraft"
    }
  ]
    
.side-menu
  +listMenu(menuItems)
